.Tool {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

    flex: 1; /* Allow it to grow and shrink as needed */
}
.tabs {
    display: flex;
    margin-bottom: 5px;
    background: #F4F4F4;
    border-radius: 5px;
    flex-grow: 1;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    flex: 1;
    color: black;
}

.tabs button.active {
    font-weight: bold;
    background: #000000;
    border-radius: 5px;
    color: white;
}

.tab-content {
    padding: 20px;
    /*border-top: 1px solid #ccc;*/
}

.CustomEntropy {
    outline: none;
    /*border: #ffac1f solid 3px;*/
    padding: 5px;
    border-radius: 15px;
}

/*.CustomEntropy focus {*/
/*    outline: none;*/
/*}*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

 .list {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 20px;
     box-sizing: border-box;
 }

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* Add some spacing between items */
}

.present {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;


    color: black;
}

.not_present {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;


    color: rgba(0, 0, 0, 0.32);
}

.text {
    flex-grow: 1;
    text-align: center;
}

.bonus {
    position: absolute;
    right: 20px; /* Adjust based on your layout */
    text-align: right;
    animation: slideRight 0.5s ease-out;
    color: green;
}

.Tool .input-container {
    display: flex;
    align-items: center;
}

.Tool .Count {
    margin-right: 15px;
    padding: 8px 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: black solid 1px;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        color: black;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        color: green;
        transform: translateX(0);
    }
}