.Tool {
    background-color: #61dafb;
    padding: 10px;
    margin: 10px;
    flex: 1; /* Allow it to grow and shrink as needed */
}
.tabs {
    display: flex;
    margin-bottom: 5px;
    background: #F9F9F9;
    border-radius: 5px;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    flex: 1;
    color: black;
}

.tabs button.active {
    font-weight: bold;
    background: #ffbb4e;
    border-radius: 5px;
}

.tab-content {
    padding: 20px;
    /*border-top: 1px solid #ccc;*/
}

.CustomEntropy {
    outline: none;
    /*border: #ffac1f solid 3px;*/
    padding: 5px;
    border-radius: 15px;
}

/*.CustomEntropy focus {*/
/*    outline: none;*/
/*}*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.not_present {
    color: rgba(0, 0, 0, 0.32);
}